@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Created By <a target="_blank" href="https://donrayxwilliams.com">Donray Williams</a>.</p>
</div>
